.navegacion{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: rgba(12, 10, 10, 0.945);
}
h1{
  color: #ffa107;
}
span{
  color: #ffa107;
}
.icon{
  font-size: 25px;
}
body{
  background-color: rgb(17, 14, 14);
}
.conteiner-body{
  color: whitesmoke;
  padding: 20px;
}
.card{
  background-color: white;
}
/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
