.navegacion{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: rgba(12, 10, 10, 0.945);
}
h1{
  color: #ffa107;
}
span{
  color: #ffa107;
}
.icon{
  font-size: 25px;
}
body{
  background-color: rgb(17, 14, 14);
}
.conteiner-body{
  color: whitesmoke;
  padding: 20px;
}
.contenedor-card{
  display: grid;
  grid-template-columns: auto auto auto;
  flex-wrap: wrap;
}
.card{
  background-color: white;
  height: auto;
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
  border-radius: 20px;
  margin: 10px;
}
.conteiner-compra{
  margin: 11px;
  
}
.imagen-card{
  margin-top: 20px;
  width: 250px;
  height: auto;
}
.productoDetalle{
  display: flex;
  color: white;
  padding: 20px;
}
.cuerpoDetalle{
  margin: 0 25px;
  
}
.stockCard{
  display: flex;
  align-items: center;
  gap: 8px;
}
.fotoDetalle{
  margin-left: 30px;
}
.boton-card{
  margin: 10px;
  padding: 8px;
  font-weight: bold ;
  font-family: Arial, Helvetica, sans-serif;
  
}
.titulo-card{
  margin: 0 12px;
}
.boton-card-detalle{
  margin: 36px 0;
  padding: 8px;
  border-radius: 15px;
}
a{
  text-decoration: none;
  list-style: none;
  color: #ffa107;
}
.itemCountDiv{
  margin: 0 60px;
  display: flex;
  gap: 10px;
}
.addButton{
  color: #ffa107;
  background-color: rgb(17, 14, 14);
  font-size: 15px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  border: 1px solid;
  border-color: #ffa107;
  

}
.itemCountDiv p {
  color: #ffa107;
  font-size: 18px;
  font-weight: bold;
}
p {
  color: white
}
li{
  color: white;
}
.bold{
  font-weight: bold;
}
.cantCart{
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  
}
.navStyle{
  font-size: medium;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}
.itemCountButton{
  font-size: 25px;
  color: #ffa107;
  background-color: rgb(17, 14, 14);
  border: none;
}
.divCart{
  display: flex;
  flex-direction: column;
}
.h2Cart{
  text-align: center;
  color: #ffa107;
}
.divProdCart{
  display: flex;
  color: #ffa107;
  font-family: Arial, Helvetica, sans-serif;
}
.divProdCart p{
  color: #ffa107;
  font-family: Arial, Helvetica, sans-serif;
  font-size: large;
  font-weight: bold;

}
.divCart p{
  color: #ffa107;
  text-align: end;
  margin-right: 14px;
  font-size: 19px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}
.deleteButton{
  margin-left: 600px;
  margin-right: 100px;
  font-size: 16px;
  font-weight: bold;
  color: #ffa107;
  border: 1px solid;
  border-color: #ffa107;
  background-color: rgb(17, 14, 14);
  font-family: Arial, Helvetica, sans-serif;

}
.iconDoneCart{
  font-size: x-large;
}
.divButton{
  display: flex;
  justify-content: center;
  align-content: center;
  gap: 15px;
  padding: 10px;
  font-size: 16px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 35px;
}
.catButton{
  font-size: 16px;
  font-weight: bold;
  color: #ffa107;
  border: 1px solid;
  border-color: #ffa107;
  background-color: rgb(17, 14, 14);
  font-family: Arial, Helvetica, sans-serif;
}